.App {
  text-align: center;
  background-color: #e4e4e4;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-bottom: 2px solid #344fa1;
}

.searchBar {
  position: absolute;
  top: 20rem;
  left: 10rem;
  height: 1.5rem;
  border-radius: 4%;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 7.7rem;
  margin-top: 2rem;
}
.all,
.open,
.closed,
.pickup,
.delivery {
  margin: 0.5rem;
  height: 2rem;
  border: solid;
  border-width: 0.2rem;
  border-color: #344fa1;
  font-size: 1.3rem;
  background-color: white;
  backdrop-filter: blur(5px);
}

.all:hover,
.open:hover,
.closed:hover,
.pickup:hover,
.delivery:hover {
  cursor: pointer;
  box-shadow: #5f6caf 5px 10px 10px;
}

.restaurant-card {
  color: black;
  width: 70rem;
  padding: 3rem;
  margin-left: 2rem;
}
.servicehours {
  display: flex;
  justify-content: space-between;
}
.servicehours p {
  margin: 0.3rem;
}

.restaurant-card ul {
  display: flex;
  flex-wrap: wrap;
}
.image {
  width: 15rem;
  height: 15rem;
}
.restaurantdetails {
  margin: 0.7rem;
  display: flex;
  flex-direction: column-reverse;
  border: solid;
  width: 15rem;
  background-color: white;
  border-color: #344fa1;
}
.restaurantdetails:hover {
  box-shadow: #5f6caf 7px 10px 10px;
}
restaurantdetails p {
  padding: 0%;
  margin: 0%;
}

.name {
  font-weight: 800;
}
.welcomeImage {
  height: 35rem;
  width: 65rem;
  opacity: 0.5;
  margin-left: 2rem;
  margin-top: 2rem;
}
.text {
  position: absolute;
  top: 4rem;
  color: #19368b;
  font-size: 2em;
  left: 10rem;
  text-align: justify;
  text-align-last: left;
}
.details.page {
  height: 300px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
